# server
uvicorn
# LangChain Core
langchain
langchain-core
# vector strorage
chromadb

# Backend
fastapi

# Frontend
streamlit

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn
