# server
uvicorn
# LangChain Core

langchain
langchain-core

# vector strorage
chromadb

# pdf
pypdf

# Backend
fastapi

# Frontend
streamlit

# Hugging Face Integration
langchain-huggingface
langchain-groq
# Environment Variable Management
python-dotenv
pydantic

# Machine Learning Utilities
numpy
scikit-learn
