# server
uvicorn
# LangChain Core
langchain
langchain-core
# vector strorage
chromadb

# Backend
fastapi

# Frontend
streamlit

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub
langchain-text-splitters
langchain-community
# Environment Variable Management
python-dotenv
pydantic

# Machine Learning Utilities
numpy
scikit-learn
